icf
$ Конфигурация задачи inv_pend_cosim
with integr;
  tout    =  1.000E+0001;
  step    =  1.000E-0003;
  h       =  1.000E-0003;
  error   =  1.000E-0005;
  error_cgm   =  1.000E-0005;
  method  = gearnl;
  inverse = true;
  crelaxation_linear=1;
  dx_linear=1E-09;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=cgm;
  nthreads=2;
  keep_decomposition=false;
  keep_decomposition_count=100;
  jacobian = false;
  asmmatrix = true;
  info_disabled_frc = true;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.001;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  ppfrequency=500;
  ppdampingratio=0.5;
with go_assignment;
with animwindow;
  graphicstype=3; 
  left=5; top=7; 
  width=307; height=259; 
  bgcolor=15723509;
  viewfield=30;
  rotation_style=z;
  camerasubs=0;  camerabody=0;  gridtype=1;  scalev=1;   scalea=10;   scaleang=0.1; 
  scaleom=1;   scalee=10;   scalef=7;   scalem=1.75; 
  arrowl=0.2;   arrowr=0.05;   vectorr=0.025; 
  a11=  0.9791; a12=  0.0591; a13= -0.1944; 
  a21=  0.0000; a22=  0.9567; a23=  0.2911; 
  a31=  0.2032; a32= -0.2850; a33=  0.9367; 
  tpx= 0.00000000000000E+0000; tpy= 0.00000000000000E+0000; tpz=-6.77544373640294E+0000; 
  align=3; dpsize=46; 
with forces;
  unstiff=Conrtol force;
with end;
